.border{
	/*border: 1px solid red;*/						/*测试*/
	width: 1500px;
	margin:  auto;
	background: #EFF1F3;
	
}

.Login_registration_title>h1{
	padding: 100px 0;
	letter-spacing: 3.8px;
    font-weight: 400;
	text-align: center;
	color: rgb(0, 49, 80);
	font-size: 40px;
}
.Login_registration_content>div{
	/*background: red;*/							/*测试*/
	width: 1000px;
	margin: auto;
	padding-bottom: 100px;
}
.Login_registration_content_left{
	width: 500px;
	/*background: #003EFF;	*/					/*测试*/
	display: inline-block;
	height: 500px;
	border-right: 1px solid #ABB0B3;
}
.Login_registration_content_right{
	width: 500px;
	/*background: #03CC85;*/								/*测试*/
	display: inline-block;
	float: right;
	height: 500px;
}
.login>button{
	 display: block;
    position: relative;
    width: 400px;
    height: 70px;
    text-align: left;
    padding-left: 30px;
    font-weight: 600;
	border: 1px solid red;
	background: #003150;
    border: 1px solid #003150;
    color: #fff;
}
.login>button>span{
	/*border: 1px solid red ;*/									/*测试*/
	width: 50px;
	height: 35px;
	display: inline-block;
	
}
.login_button_span_right{
	margin-left: 240px;
	
}
.login>button>span>img,.login>button>span>p{
	/*border: 1px solid yellow;*/							/*测试*/
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 1.2rem;
}
.name,.uex{
	height: 70px;
	width: 400px;
	font-size: 1.4rem;
}
.Login_registration_content_left>div{
	margin-top: 30px;
}
.Login_registration_content_left>div>a{
	font-size: 1.3rem;
    font-weight: 400;
	color: rgb(0, 49, 80);
}
.Login_registration_content_left_wj>a{
	font-size: 1.3rem;
    font-weight: 400;
	color: rgb(0, 49, 80);
	float: right;
	padding-right:100px ;
}
.login{
	font-size: 1.4rem;
	width: 400px;
}
.Login_registration_content_left_gd>a{
	color: rgb(0, 49, 80);
    cursor: pointer;
    display: inline-block;
    font-family: "Microsoft Yahei", 微软雅黑, 黑体, Heiti, 华文黑体, "ST Heiti", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.8rem;
}
.Login_registration_content_right>div{
	margin-top: 30px;
	margin-left: 100px;
}
.Login_registration_content_right>div>a{
	font-size: 1.3rem;
    font-weight: 400;
    color: rgb(0, 49, 80);
	
}
.intro{
	padding: 20px  0;
}
.m-b{
	font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.6px;
    font-weight: 100;
    color: rgb(0, 49, 80);
    margin-bottom: 30px;
}
.login>button:hover{
	background: #fff;
	color: #002744;
	transition:all	ease	0.3s;
}